body{
    font-family: cursive;
}
#input-area{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: cursive;
}
#calculate-btn{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 11px;
    padding-bottom: 12px;
    font-family: cursive;
    background-color: darkgoldenrod;
    border: none;
    cursor: pointer;
    color: white;

}